
GIS/Dataframe segregado por modo principal/Automovel/OD_Automovel_Lines.cpg
GIS/Dataframe segregado por modo principal/Automovel/OD_Automovel_Lines.dbf
GIS/Dataframe segregado por modo principal/Automovel/OD_Automovel_Lines.shp
GIS/Dataframe segregado por modo principal/Automovel/OD_Automovel_Lines.shx
GIS/Dataframe segregado por modo principal/Bike e Pé/OD_Bike_Lines.cpg
GIS/Dataframe segregado por modo principal/Bike e Pé/OD_Bike_Lines.dbf
GIS/Dataframe segregado por modo principal/Bike e Pé/OD_Bike_Lines.shp
GIS/Dataframe segregado por modo principal/Bike e Pé/OD_Bike_Lines.shx
GIS/Dataframe segregado por modo principal/Moto/OD_Moto_Lines.cpg
GIS/Dataframe segregado por modo principal/Moto/OD_Moto_Lines.dbf
GIS/Dataframe segregado por modo principal/Moto/OD_Moto_Lines.shp
GIS/Dataframe segregado por modo principal/Moto/OD_Moto_Lines.shx
GIS/Dataframe segregado por modo principal/Onibus/OD_Onibus_Lines.cpg
GIS/Dataframe segregado por modo principal/Onibus/OD_Onibus_Lines.dbf
GIS/Dataframe segregado por modo principal/Onibus/OD_Onibus_Lines.shp
GIS/Dataframe segregado por modo principal/Onibus/OD_Onibus_Lines.shx
GIS/Dataframe segregado por modo principal/Trens/OD_Trens_Lines.cpg
GIS/Dataframe segregado por modo principal/Trens/OD_Trens_Lines.dbf
GIS/Dataframe segregado por modo principal/Trens/OD_Trens_Lines.shp
GIS/Dataframe segregado por modo principal/Trens/OD_Trens_Lines.shx
GIS/OD_Lines.cpg
GIS/OD_Lines.dbf
GIS/OD_Lines.shp
GIS/OD_Lines.shx
GIS/OD_Trens_Zonas_Lines.cpg
GIS/OD_Trens_Zonas_Lines.dbf
GIS/OD_Trens_Zonas_Lines.shp
GIS/OD_Trens_Zonas_Lines.shx
GIS/OD_Zonas_Lines.cpg
GIS/OD_Zonas_Lines.dbf
GIS/OD_Zonas_Lines.prj
GIS/OD_Zonas_Lines.shp
GIS/OD_Zonas_Lines.shx
GIS/Projeto.qgz
GIS/Zonas_2017_region.dbf
GIS/Zonas_2017_region.prj
GIS/Zonas_2017_region.shp
GIS/Zonas_2017_region.shx
